.App {
  /* text-align: center; */
}

.Back-img {
  background-image: url(./storage/images/back-auth.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100vw;
  height: 100vh;
  position: relative;

  /* filter: blur(3px); */
}

.Auth-box {
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: gray solid 2px;
  padding: 2rem;
  border-radius: 1rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  /* box-shadow: 5px 6px 5px grey; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
